@font-face {
    font-family: 'Arial';
    src: url(./fonts/Arial.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'D2 Coding';
    src: url(./fonts/D2Coding.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '본명조';
    src: url(./fonts/NotoSerifKR-Medium.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '본고딕';
    src: url(./fonts/NotoSansKR-Medium.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '제주명조';
    src: url(./fonts/JejuMyeongjo-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '제주고딕';
    src: url(./fonts/JejuGothic-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Arial'
}

code, kbd, pre, samp {
    font-family: "D2 Coding";
}

/* @import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

.nanummyeongjo * {
 font-family: 'Nanum Myeongjo', serif;
} */